.filtro__genre-section {
  margin: 0 0.625rem;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 0.625rem;
  padding: 1rem;
}
.filtros__genres {
  overflow-x: auto;
  place-content: center;
  place-items:center ;
  gap: 1.1625rem;
  display: flex;
  justify-content: left;
  align-content: center;
  padding: 15px;
  box-shadow: inset -20px -1px 15px -20px var(--gray-3);
  border-bottom:2px solid var(--gray-6) ;
  border-radius:var(--border-radio) ;
}
.filtro__genre-btn:hover {
  border: 0.0625rem solid var(--gray-1);
}

.filtro__genre-btn {
  border: 1px solid blue;
  padding: 0.5rem;
  border: 0.0625rem solid var(--gray-8);
color: var(--gray-1);
  border-radius: var(--border-radio);
  background-color: var(--gray-6);
}

.filtro__genre-btn--ativo {
  background-color: var(--gray-2);
  color: var(--gray-8);
}
