.CartItemCard {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  div {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  aside {
    padding: 0.25rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-right: 10px;
    button {
      background-color: var(--gray-6);
      color: var(--gray-1);
      border-radius: 5px;
    }
  }
  main {
    width-max: 15rem;
    margin-top: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 1rem;
    position: relative;
    gap: 1rem;
  }
  button {
    border: none;
    background-color: transparent;
    color: var(--gray-3);
  }
  img {
    width: 100%;
  }
  span {
    display: flex;
    justify-content: left;
  }
}
